/* место для вашего кода */
.header {
  display: flex;
  align-items: center;
  background-color:white;
  padding: 92px 24px 70px 24px;
  box-sizing: border-box;
  gap: 45px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  padding-left: 30px;
  padding-top: 5px;

}

.header__links-list-item{
  list-style: circle;
  font-size: 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
}

.no-bullit {
  list-style: none;
}

.active {
  text-decoration: none;
}

.header__logo-image {
  display: inline-block;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 80px;
  font-size: 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  margin: auto;
}