/* место для вашего кода */
address {
  margin: 0;
	padding: 0;
	border: 0;
}


.body {
  width: 1100px;
  height: 3028px;
  background-color: rgb(225,225,225);
  position: relative;
}

.header {
  display: grid;
  
  background-color: white;
  padding: 92px 24px 70px 24px;
  width: 1052px;
  height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  padding-top: 44px;
  padding-left: 26px;
  padding-right: 634px;
}

.header__links-list-item {
  list-style: circle;
  font-size: 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
}

.no-bullit {
  list-style: none;
}

.no-bullit a, .header__links-list-item a {
  text-decoration: none;
}

.active a {
  border-bottom: 2px solid black;
}

.header__logo-image {
  display: inline-block;
  width: 148px;
  height: 105px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.address {
  display: flex;
  flex-direction: column;
  top: 8px;
  padding-left: 786px;
  position: absolute;
  font-size: 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.cover {
  height: 783px;
  background-image: url(/images/cover.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: aquamarine;
  padding-top: 267px;
}